* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif
}

.container {
    width: 100%;
    height: 100vh;
}

/* Inizio header */
.container header {
    height: 20%;
}

.container header .header-top {
    display: flex;
    align-items: flex-end;
    height: 50%;
    margin-left: 2%;
    font-size: 120%;
    color: rgb(41, 177, 221);
}

.container header .header-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    background-color: rgb(41, 177, 221);
    text-transform: uppercase;
    color: white;
}

.container header .header-bottom label {
    margin-right: 1%;
}

.container header .header-bottom select option {
    background-color: rgb(183, 234, 239);
    color: rgb(47, 48, 54);
}

/* Fine header */

/* Inizio main */
.container main {
    height: calc(100% - 20%);
    background-color: rgb(221, 221, 221);
}

.container main .boxes-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding: 1.2%;
}

.container main #box-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    margin-bottom: 6%;
    height: calc(60% / 4);
    width: calc(75% / 5);
    box-shadow: 1px 1px 1px 1px grey;
    border-radius: 10px;
    background-color: whitesmoke;
}

.container main #box-icons i {
    font-size: 200%;
    margin-bottom: 2%;
}

.container main #box-icons p {
    text-transform: uppercase;
    font-size: 85%;
}

/* Fine main */